:root {
  --link: rgb(58, 58, 245);
  --grey: rgb(177, 177, 177);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--link);
  font-weight: 500;
}

code {
  font-family: source-code-pro, monospace;
}

li {
  list-style: none;
}

h1 {
  font-weight: 500;
  margin: 1rem;
  font-size: 1.75rem;
}

/* navbar */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 0.25em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.back-btn {
  cursor: pointer;
  color: var(--link);
}

/* game box - main content */
.game-box {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.game-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.box {
  border: 2px solid var(--grey);
  min-width: 37.5px;
  min-height: 37.5px;
  aspect-ratio: 1;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* utils */
.exact-match {
  background-color: chartreuse;
}

.contains-match {
  background-color: khaki;
}

/* index page */
.num-btns {
  gap: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.letter-num-selection-btn {
  padding: 1em;
  outline: none;
  background-color: rgb(243, 243, 169);
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}