*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1100px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.game-box {
  margin: 0 1rem;
}

.game-row {
}

.box {
  border: 1px solid black;
  min-width: 40px;
  min-height: 40px;
}

.num-btns {
  gap: 1rem;
  margin: 2rem;
}

.letter-num-selection-btn {
  padding: 1em;
  outline: none;
  background-color: rgb(243, 243, 169);
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

code {
  font-family: source-code-pro, monospace;
}

li {
  list-style: none;
}