:root {
  --link: rgb(58, 58, 245);
  --grey: gainsboro;
  --green: rgb(145, 231, 59);
  --yellow: rgb(238, 224, 101);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--link);
  font-weight: 500;
}

code {
  font-family: source-code-pro, monospace;
}

li {
  list-style: none;
}

h1 {
  font-weight: 500;
  margin: 1rem;
  font-size: 1.5rem;
}

/* navbar */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0.25rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.back-btn {
  cursor: pointer;
  color: var(--link);
}

/* game box - main content */
.game-box {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.game-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.box {
  border: 2px solid var(--grey);
  min-width: 37.5px;
  min-height: 37.5px;
  aspect-ratio: 1;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}

/* index page */
.num-btns {
  gap: 1rem;
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.letter-num-selection-btn {
  padding: 0.75em 1.5em;
  background-color: #c8bbfd;
  outline: none;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.letter-num-selection-btn:hover {
  color: white;
}

.play {
  text-align: center;
  margin: 1rem 0;
}

.play-btn {
  display: inline-block;
  color: black;
  padding: 0.65em 2.5em;
  text-align: center;
  background-color: #c8bbfd;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  width: 200px;
}

.play-btn:hover {
  background-color: #dae6ff;
}

.keyboard {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upperline, .middleline, .lowerline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.key {
  background-color: var(--grey);
  padding: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.65rem;
  cursor: pointer;
  user-select: none;
}

/* utils */
.exact-match {
  background-color: var(--green);
}

.contains-match {
  background-color: var(--yellow);
}

.dud-match {
  background-color: ivory;
}

/* about section */
section, footer {
  margin: 1rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

p {
  font-size: 0.875rem;
  padding: 0.25em 0;
  line-height: 1.4;
}

hr {
  margin: 1rem 2rem;
  opacity: 30%;
}

img {
  display: block;
  margin: 0.5rem 0;
}

strong {
  font-weight: 550;
}

footer p {
  text-align: center;
  font-size: 0.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

footer {
  justify-self: flex-end;
}